body {
	line-height: 1;
	font-size: 16px;
 	font-family: arial;
 	background-color: rgb(235,235,235);

  	border-top: 30px solid #333;

}
p {
	padding-bottom: 5px;
}

h1 {
	font-weight: bold;
	text-transform: normal;
	font-size: 70px;
	text-align: left;
	font-family: arial;
}
h2 {
	font-weight: bold;
}
 .box {
 	background-color: #CCCCCC;
 	width: 20px;
 	height: 300px;
 }

 .gray {
 	background-color: gray;
 	width: 20px;
 	height: 500px;
 }
.dark {
	background-color: #333;
	width: 20px;
	height: 700px;
}
.three {
	font-size: 16px;
 	font-family: arial;
 	line-height: 1.5;
 	background-color: rgb(235,235,235);
  	text-align: left;
  	border-right: solid 1px #CCCCCC;
  	margin-top: 10px;
  	margin-left: 10px;
  	margin-right: 5px;
  	padding-left: 47px;
}
.work {
	text-align: right;
	margin-right: 40px;
}


span {
	font-weight: bold;
}